* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    overflow: hidden;
}

#canvas {
    background-color: black;
}

#fullscreenBtn {
    cursor: pointer;
    border: none;
    border-radius: 10px;
    padding: 8px;
    font-size: 16px;

    color: white;
    background-color: blueviolet;

    position: absolute;
    top: 4px;
    left: 50%;
    transform: translate(-50%, 0%);
}
